@import "tailwindcss";

body {
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}

.task-glow {
  box-shadow: 0 0 0 1.5px #a5b4fc;
}

.task-glow-row {
  box-shadow: inset 2px 0 0 0 #a5b4fc, inset -2px 0 0 0 #a5b4fc;
}

